@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #13eca4;
  --color-secondary: #0ea5e9;
  --color-bg-light: #f8fafc;
  --color-bg-dark: #020617;
}
